%maskForAction {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #fffa;
  border: 3px dashed #000;

  pointer-events: auto;
}

#re-order-elements {
  & ~ main,
  & ~ aside {
    &,
    section.newsletter:hover {
      position: relative;
      cursor: move;
      &::after {
        @extend %maskForAction;
      }
    }
    &::after {
      content: "Click to reorder";
      align-items: flex-start;
      padding: 50vh 0;
      font-weight: bold;
    }
  }
}

#re-order-elements-reordering {
  outline: 5px solid blue;
  > [data-type] {
    position: relative;
    display: flex !important;
    flex-direction: column;
    outline: 1px dashed #000a;
    min-height: 1rem;
    max-height: 12.5vh;
    overflow: hidden;
    cursor: move;
    &::after {
      @extend %maskForAction;
      content: attr(data-type);
    }
    &:hover::after {
      content: "Drag to move, click to reorder";
    }
    &:empty,
    &[data-type="Footer"],
    &[data-json] {
      &:hover::after {
        content: "Drag to move";
      }
    }
  }
  img {
    display: none;
  }
}

#re-order-placeholder {
  background-color: #8888;
}

.drop-candidate-for-reordering {
  & > .drop-candidate-for-reordering {
    & > ::before {
      content: "Insert here";
      display: flex;
      place-content: center;
      outline: inherit;
      margin-bottom: 1rem;
      height: var(--dragged-element-height, 3rem);
    }
    &::after {
      top: 4rem !important;
    }
    // min-height: 5rem;
    max-height: calc(12.5vh + 4rem);
  }

  & > .to-be-deleted {
    &,
    & > input {
      background-color: red;
    }
  }
}
