{
  "presets": [
    [
      "@babel/env",
      {
        "targets": [
          "last 2 Chrome versions",
          "last 1 Safari version",
          "last 1 Firefox version"
        ],
        "bugfixes": true,
        "modules": false
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    ["@babel/plugin-proposal-private-methods", { "loose": true }],
    [
      "@babel/plugin-transform-react-jsx",
      { "pragma": "h", "pragmaFrag": "Fragment" }
    ]
  ],
  "env": {
    "prod": {
      "plugins": [
        ["transform-remove-console", { "exclude": ["error", "warn"] }]
      ]
    }
  }
}
