* {
  box-sizing: border-box;
}
:root {
  font-size: 20px;
}
body {
  display: grid;
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  grid-template-areas: "header" "main" "footer";
}
@media only screen and (min-width: 750px) {
  body {
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 300px 1fr;
    grid-template-areas: "header header" "aside main" "footer footer";
  }
}

header,
footer {
  padding: 1rem 0.1rem;
}

header {
  grid-area: header;
}
main {
  grid-area: main;
}
aside {
  grid-area: aside;
}
@media only screen and (max-width: 749px) {
  aside {
    display: none;
  }
}

footer {
  grid-area: footer;
}

.text-center {
  text-align: center;
}
h1 {
  text-align: center;
  margin: 0;
}

output[data-contents] {
  display: contents;
}

/* Fix for cross-domain */
section.newsletter-hero {
  background-image: url(https://ecobuilding.schneider-electric.com/documents/10807/21555442/hero.jpg/5b9d6950-2b9b-450d-b5b0-a2b78ee31192) !important;
}

dialog + .backdrop, dialog::backdrop {
  background-color: #000a;
}

dialog {
  padding: 2rem;
  border-radius: 6px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.25);
  max-width: 90vw;
}
dialog + .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
dialog[open] {
  animation: appear 0.15s cubic-bezier(0, 1.8, 1, 1.8);
}
dialog form label {
  display: block;
}
dialog .ordered-list {
  cursor: move;
}
dialog .ordered-list.drop-candidate-for-reordering > .drop-candidate-for-reordering {
  transform: translateY(var(--dragged-element-height, 1rem));
}
dialog .ordered-list.drop-candidate-for-reordering > .drop-candidate-for-reordering::before {
  content: "Move here";
  display: flex;
  height: var(--dragged-element-height, 1rem);
  background-color: #000a;
  color: #fff;
  place-content: center;
}
dialog .ordered-list.drop-candidate-for-reordering > .drop-candidate-for-reordering > *, dialog .ordered-list.drop-candidate-for-reordering > .drop-candidate-for-reordering::before {
  transform: translateY(calc(var(--dragged-element-height, 1rem) * -1));
}
dialog .ordered-list.drop-candidate-for-reordering > .drop-candidate-for-reordering + * {
  transform: translateY(calc(var(--dragged-element-height, 1rem) * 0.25));
}
dialog .ordered-list.drop-candidate-for-reordering > .drop-candidate-for-reordering + * > * {
  transform: translateY(calc(var(--dragged-element-height, 1rem) * -0.25));
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateX(-3rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
:root {
  scroll-behavior: smooth;
}

section.newsletter *,
section.newsletter-hero,
section.newsletter-footer {
  box-sizing: border-box;
}

section.newsletter-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;

  background-image: url(/documents/10807/21555442/hero.jpg/5b9d6950-2b9b-450d-b5b0-a2b78ee31192);
  background-position: center center;
  background-size: cover;

  min-height: 200px;
  padding: 20px 0;
}
section.newsletter-hero h1 {
  background-color: #fff5;
  color: #626469;
}
section.newsletter-hero svg {
  margin: 0 auto;
  transform: scale(1.3);
}

.newsletter iframe {
  max-width: 100%;
}

h2.newsletter {
  text-align: center;
  color: #3dcd58;
}

section.newsletter {
  --nb-of-columns: calc(var(--nb-of-articles, 2) - 1);
  display: grid;
  grid-gap: 20px;
}
section.newsletter.aside {
  --nb-of-columns: 1;
  grid-template-columns: 1fr;
  background: none;
}
section.newsletter article {
  padding: 10px;
  background-color: #fff;
}
section.newsletter article.main {
  display: flex;
  flex-direction: column;
}

section.newsletter article.main img,
section.newsletter article.main iframe {
  grid-row: 1 / -1;
  height: auto;
  width: auto;
  object-fit: contain;
  place-self: center;
}
section.newsletter:nth-child(2n) article.main {
  grid-template-columns: auto 33%;
}
section.newsletter:nth-child(2n) article.main iframe,
section.newsletter:nth-child(2n) article.main img {
  grid-column: 2;
}
nav.newsletter {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(auto, 150px));
  grid-gap: 50px;
  justify-content: center;
}
section.newsletter.hot-topics h2,
section.newsletter > section h2 {
  color: #fff;
  padding: 0.1em;
  text-align: center;
  background-color: #9fa0a4;
  margin: 20px 0 0;
}
section.newsletter.hot-topics h2 {
  background-color: #3dcd58;
}

section.newsletter a {
  font-weight: bold;
}
section.newsletter.aside a {
  font-weight: normal;
}
section.newsletter h4,
.generic_content_widget_template_flavor_2
  .related-content-desc
  div:first-child {
  text-transform: capitalize;
  color: #3dcd58;
  font-weight: normal !important;
  font-size: 20px;
  line-height: 25px;
}
section.newsletter.aside h4 {
  text-transform: uppercase;
  font-weight: bold;
}

section.newsletter p,
.generic_content_widget_template_flavor_2 .related-content-desc p,
section.newsletter li {
  font-size: 14px;
  line-height: 20px;
}
section.newsletter li {
  margin-bottom: 20px;
}
section.newsletter img,
section.newsletter iframe {
  margin: 20px 0;
}

section.newsletter-footer {
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}
section.newsletter-footer strong {
  color: #3dcd58;
  font-size: 26px;
}

@supports (display: grid) {
  section.newsletter h3 {
    margin-bottom: -20px;
  }
  section.newsletter li {
    margin-bottom: 0;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .newsletter img,
  .newsletter iframe {
    display: none;
  }
}
@media screen and (min-width: 999px) {
  section.newsletter-hero {
    padding: 0 20px;
    padding-right: 70%;
  }

  section.hot-topics {
    --nb-of-columns: 2;
  }

  section.newsletter.aside ul {
    display: grid;
    grid-gap: 20px;
    list-style: none;
    margin: 0;
  }

  section.newsletter.hot-topics article {
    display: flex;
    flex-direction: column;
    gap: 0 20px;
  }
  section.newsletter.hot-topics article:first-of-type,
  section.newsletter.hot-topics article:last-of-type:nth-child(2n + 1) {
    display: grid;
    grid-template-areas: "title title" "img text" "img link";
    grid-template-columns: 400px auto;
    grid-template-rows: auto auto 1fr;
    grid-column: span 2;
  }
  section.newsletter.hot-topics article:first-of-type {
    grid-template-areas: "title title" "text img" "link img";
  }

  section.newsletter.hot-topics article h4 {
    grid-area: title;
  }
  section.newsletter.hot-topics article img,
  section.newsletter.hot-topics article iframe {
    grid-area: img;
    place-self: center;
  }
  section.newsletter.hot-topics article ul,
  section.newsletter.hot-topics article p:first-of-type {
    grid-area: text;
  }
  section.newsletter.hot-topics article > p:last-of-type {
    grid-area: link;
    margin: 0;
  }

  section.newsletter {
    grid-template-columns: repeat(var(--nb-of-columns), 1fr);
  }
  section.newsletter h2,
  section.newsletter h3,
  section.newsletter article.main {
    grid-column: span var(--nb-of-columns);
  }
  section.newsletter article.main {
    display: grid;
    grid-template-columns: 33% auto;
    grid-template-rows: auto auto auto;
    grid-gap: 0 20px;
  }
  section.newsletter article.main img {
    height: 100%;
  }
}

#re-order-elements-reordering > [data-type]::after, #re-order-elements ~ main:hover::after,
#re-order-elements ~ main section.newsletter:hover::after, #re-order-elements ~ aside:hover::after,
#re-order-elements ~ aside section.newsletter:hover::after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffa;
  border: 3px dashed #000;
  pointer-events: auto;
}

#re-order-elements ~ main:hover,
#re-order-elements ~ main section.newsletter:hover, #re-order-elements ~ aside:hover,
#re-order-elements ~ aside section.newsletter:hover {
  position: relative;
  cursor: move;
}
#re-order-elements ~ main:hover::after,
#re-order-elements ~ main section.newsletter:hover::after, #re-order-elements ~ aside:hover::after,
#re-order-elements ~ aside section.newsletter:hover::after {
  content: "ReOrder";
}

#re-order-elements-reordering {
  outline: 5px solid blue;
}
#re-order-elements-reordering > [data-type] {
  position: relative;
  display: flex !important;
  flex-direction: column;
  outline: 1px dashed #000a;
  min-height: 1rem;
  max-height: 12.5vh;
  overflow: hidden;
  cursor: move;
}
#re-order-elements-reordering > [data-type]::after {
  content: attr(data-type);
}
#re-order-elements-reordering > [data-type]:hover::after {
  content: "Drag to move, click to reorder";
}
#re-order-elements-reordering > [data-type]:empty:hover::after, #re-order-elements-reordering > [data-type][data-json]:hover::after {
  content: "Drag to move";
}
#re-order-elements-reordering img {
  display: none;
}

#re-order-placeholder {
  background-color: #8888;
}

.drop-candidate-for-reordering > .drop-candidate-for-reordering {
  max-height: calc(12.5vh + 4rem);
}
.drop-candidate-for-reordering > .drop-candidate-for-reordering > ::before {
  content: "Insert here";
  display: flex;
  place-content: center;
  outline: inherit;
  margin-bottom: 1rem;
  height: var(--dragged-element-height, 3rem);
}
.drop-candidate-for-reordering > .drop-candidate-for-reordering::after {
  top: 4rem !important;
}
.drop-candidate-for-reordering > .to-be-deleted, .drop-candidate-for-reordering > .to-be-deleted > input {
  background-color: red;
}
#drop-zone {
  display: none;
}

:root.dragover #drop-zone {
  position: fixed;
  top: 1rem;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
  opacity: 0;
  transition: opacity 300ms ease-in;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffa;
  border: 3px dashed #000;
  pointer-events: auto;
  opacity: 1;
  z-index: 1;
}
:root.dragover #drop-zone::after {
  content: "Drop File Here";
  font-size: large;
  font-weight: bold;
}
